<div class="well well-sm col-md-6 col-md-offset-3 text-center">
	<h2><u>Les meilleurs scores</u></h2>
	<i class="col-md-4 text-muted bg-info">Position</i>
	<i class="col-md-4 text-muted bg-info">Pseudo joueur</i>
	<i class="col-md-4 text-muted bg-info">Score</i>
	<div ng-repeat="parties in partie | orderBy : '-score' | limitTo : 10" ng-if="parties.status == 'finie'">
		<strong class="col-md-4 text-primary bg-primary">{{$index + 1}}</strong> 
		<strong class="col-md-4 text-primary bg-primary">{{parties.joueur}}</strong>
		<strong class="col-md-4 text-warning bg-primary">{{parties.score}}</strong> 
	</div>
</div>