
<div class="text-center col-md-6 col-md-offset-3 well well-lg" ng-hide="isplay">
	<p><strong class="alert-warning">Si champs laissés vide, pseudo : Anonyme et ville aléatoire</strong></p>
	<input type="text" ng-model="newgame.joueur" placeholder="Pseudo" />
	<select ng-model="value.id" ng-options="value.id as value.ville for value in serie">
	</select>
	<button class="btn btn-lg btn-warning" type="button" ng-click="createGame()"><strong>Jouer</strong></button>
</div>

<div class="col-md-10 col-md-offset-1" ng-show="isplay">
	<div class="col-md-offset-3 col-md-6 text-center well well-sm">
		<strong class="col-md-12"><i>Pseudo :</i> {{pseudo}}</strong>
		<strong class="col-md-12"><i>Score :</i> {{score}}</strong>
	</div>
	<div class="col-md-6 slider" ng-repeat="photo in photos" ng-hide="!isCurrentSlideIndex($index)">
	    <img  class='col-md-12' height="400px"ng-src="{{photo.url}}" alt="{{photo.description}}"/>

	    <div class="text-center well well-sm">
	    	<strong>Description : {{photo.description}} </strong>
	    	<button class="btn btn-lg btn-info" ng-click="nextSlide()"><strong>Passer >></strong></button>
	    </div>
	</div>
	<div class="col-md-6" id="map">
	</div>
</div>
