<div class="well well-sm col-md-8 col-md-offset-2">
	<h2><u>Règles</u></h2>
	<p>Le principe est simple : une photo est proposée au joueur, il doit indiquer la position de ce qu'elle
	représente sur une carte d'une ville.</p>
	<p><strong>Règle du jeu :</strong></p>
	<ul>
		<li>
			une partie consiste en une séquence de 10 photos à placer sur la carte d'une ville;
		</li>
		<li>
			toutes les photos d'une série concernent la même ville et la même carte;
		</li>
		<li>
			chaque réponse permet de gagner un certain nombre de points, en fonction de la précision du placement et de la rapidité pour répondre;
		</li>
		<li>
			l'objectif pour une partie est d'obtenir le maximum de points;
		</li>
		<li>
			la partie est terminée lorsque les 10 photos ont été positionnées.
		</li>
	</ul>
	<p><strong>Règles de calcul des points :</strong></p>
	<p>Placement des réponses :</p>
	<ul>
		<li>
			pour 1 réponse placée à une distance < D : 5pts;
		</li>
		<li>
			pour 1 réponse placée à une distance < 2D : 3pts;
		</li>
		<li>
			pour 1 réponse placée à une distance < 3D : 1pts;
		</li>
	</ul>
	<p>(la distance D est une valeur à choisir, qui peut être un paramètre de l'application)</p>
	<p>Prise en compte de la rapidité : </p>
	<ul>
		<li>
			les pts sont multipliés par 4 pour une réponse en moins de 2s;
		</li>
		<li>
			les points sont multipliés par 2 pour 1 réponse en moins de 5s;
		</li>
		<li>
			Les points ne sont pas acquis pour 1 réponse en plus de 10s.
		</li>
	</ul>
</div>