<div class="col-md-6">
  <div class="alert alert-info"><strong>{{info}}</strong></div>
	<div class="well">
		<h1>Série</h1>
		<label >Selectionner une serie:</label>
		<select ng-model="selectedItem"
	            ng-options="serie as serie.ville for serie in series"></select>
			<label for="distance">Distance:</label>
      <input ng-model="selectedItem.dist" name="distance" type="number" placeholder="Distance" />

			<button ng-click="modifySerie()" class="btn btn-xs btn-success">Modifier</button>
	    <button ng-click="deleteSerie()" class="btn btn-xs btn-danger">Supprimer</button>
	</div>
</div>
<div class="col-md-6 well text-center" ng-hide="ishide">
    <h1>Ajouter images</h1>
    <input type="file" file-model="myFile" class="col-md-5" accept="image/*"/>
    <textarea ng-model="phDesc"></textarea>
    <button ng-click="ajouterPhoto()">Ok</button>
</div>

<div class="col-md-12"  ng-hide="ishide">
	<div id="recap" class="well well-sm col-md-6  text-center">
		<h1>Récapitulatif</h1>
		<text><b>-Série :</b> {{selectedItem.ville}}</text>
		<text><b>-Distance :</b> {{selectedItem.dist}}</text>
    <text><b>-Nombre de photos :</b> {{photos.length}}</text>
    <h5 style="color:red">Un click sur une photo permet d'éditer sa déscription</h5>
    <h5 style="color:red">Un deuxième click sur la photo permet d'enregistrer les modification</h5>
    <h5 style="color:red">Vous pouvez positionner la photo en cliquant sur la map</h5>
			<div class="col-md-12" ng-repeat="tof in photos">
				<img ng-src="{{tof.url}}" class="col-md-5 btn" alt="" class="img-thumbnail" ng-click="editPhoto(tof,false)"/>
				<p ng-hide="tof.edit">{{tof.description}}</p>
				<textarea ng-show="tof.edit" class="col-md-5"  ng-model="tof.description">{{tof.description}}</textarea>
        <button ng-click="deletePhoto(tof)" class="col-md-2 btn btn-xs btn-danger">Supprimer</button>
				<button ng-show="tof.edit" ng-click="editPhoto(tof,true)" class="col-md-2 btn btn-xs btn-warning">Annuler</button>
			</div>
		</div>

		<div class="col-md-6" id="map"></div>
</div>
